.card__phrase {
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.1rem;
    color: white;
    font-style: italic;
}
.card__phrase::after {
    content: '"';
}
.card__phrase::before {
    content: '"';
}
